.information {
    display: flex;
    position: absolute;
    text-align: center;
    width: 1422px;
    height: 400px;
    top: 725px;
    border: solid white 2px;
}

.information h3 {
    position: absolute;
    top: 0px;
    left: 600px;
    border: solid white 1px;
    padding: 0px 50px;
    background: black;
}