.App {
  text-align: center;
  position: relative;
  font-family: 'dosis';
  color: white;
}


html { 
  background: url('./totoro.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  width: auto;
  height: 60px;
  background-color: black;
  padding-top: 0;
  color: rgb(197, 196, 196);
  font-family: 'cormorant unicase'; 
  font-size: 40px;
  font-style: bold;
}
